DB_URL=
DB_USERNAME=
DB_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=
INDEXING_KAFKA_TOPIC=doc.events.v1

INDEXING_STORAGE_BUCKET=
INDEXING_STORAGE_ENDPOINT=
INDEXING_STORAGE_REGION=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

OPENAI_API_KEY=
